body{

    background-color: rgb(211, 177, 208);
    
    
    }
    
    
    
    form {
        margin: 40px 0;
     }
     
     form label, form p {
        display:block;
        font-size: 30px;
        margin: 0 0 10px;
     }
     
     .input-padrao {
        display: block;
        margin: 0 0 20px;
        padding: 10px 25px;
        width: 50%;
     }